// Big Dipper Constellation - covering the full screen
.big-dipper-container
    // Stars of the Big Dipper
    .star.yaoguang
        img(src="assets/avatar.jpg", alt="摇光")
        .star-name 摇光
    .star.kaiyang
        img(src="assets/avatar.jpg", alt="开阳")
        .star-name 开阳
    .star.yuheng
        img(src="assets/avatar.jpg", alt="玉衡")
        .star-name 玉衡
    // 天枢星点使用页面的头像，不需要在这里添加
    .star.tianquan
        img(src="assets/avatar.jpg", alt="天权")
        .star-name 天权
    .star.tianyue
        img(src="assets/avatar.jpg", alt="天璇")
        .star-name 天璇
    .star.tianzhu
        img(src="assets/avatar.jpg", alt="天柱")
        .star-name 天柱

    // Lines connecting the stars
    .dipper-line.yaoguang-line
    .dipper-line.kaiyang-line
    .dipper-line.yuheng-line
    .dipper-line.tianshu-line
    .dipper-line.tianquan-line
    .dipper-line.tianyue-line 