.top-hover-area
.click-counter-container
    .hover-trigger
        span.hover-text 心愿指数
    .click-counter
        .counter-header
            span.counter-combined 
                | 心愿指数
                span.counter-value#totalLuckCounter 0
        .counter-details
            .detail(data-fortune="mainAvatar")
                span.detail-label 桃花
                span.detail-value#mainAvatarCounter 0
            .detail(data-fortune="yaoguang")
                span.detail-label 财运
                span.detail-value#yaoguangCounter 0
            .detail(data-fortune="kaiyang")
                span.detail-label 健康
                span.detail-value#kaiyangCounter 0
            .detail(data-fortune="yuheng")
                span.detail-label 智慧
                span.detail-value#yuhengCounter 0
            .detail(data-fortune="tianji")
                span.detail-label 好运
                span.detail-value#tianjiCounter 0
            .detail(data-fortune="tianxuan")
                span.detail-label 功德
                span.detail-value#tianxuanCounter 0
            .detail(data-fortune="tianshu")
                span.detail-label 天运
                span.detail-value#tianshuCounter 0